* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: calc(100vw / 32);
  color: white;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}
ol,ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $text-color;
}
.c-sectionStyle{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  @include media(md){
    width: 1000px;
    margin: 0 auto;
  }
}

